
@{
    ViewBag.Title = "Confirm";
    Layout = "~/Views/Shared/_ConfirmLayout.cshtml";
}
<div class="jumbotron">
    <div class="container" align="center">
        <h2>Thanks for your order</h2>
        <p>You will get a confirmation mail, about the order!</p>
        <br />
        <h4>Book shop</h4>
        </div>
    </div>

