@{
    ViewBag.Title = "Book shop";
}

<div class="jumbotron">
    <div class="container" align="center">
        <h1>Bookshop</h1><br />
        <img src="/img/Little_comic_book_guy.png" class="img-responsive" />
        <br />
        <p class="lead">Buy yor books here.</p>
        </diV>
    </div>


